# ----------------------------------------
# Node.js / TypeScript
# ----------------------------------------
node_modules/
dist/
build/
coverage/

# 環境変数
.env
.env.*

# PM2・プロセス管理
pm2*.json
*.pid
pids/
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & エディタ
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
